.OrderDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmin;
  font-size: 2vmin;
  color: var(--text-light);
}
  
.OrderDetail .section-heading {
  width: 100%
}

.OrderDetail .line-item-container {
  width: 5.35in;
  padding: 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
  flex-wrap: wrap;
}


.OrderDetail .total {
  width: 100%;
  display: grid;
  padding: 1vmin 0;
  color: var(--text-light);
  border-top: .1vmin solid blue;
}

.OrderDetail .total span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: var(--text-dark);
}

.OrderDetail .total span.right {
  display: flex;
  justify-content: flex-end;
}


.white {
  color: white;
  font-weight: 900;
  text-align: center;
}

button.btn-xs {
  background-color: #b40116;
  color: white;
}