@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --orange: #F67F00;
  --yellow: #FFC54A;
  --blue-1: #79D7FD;
  --blue-2: #00BBFA;
  --blue-3: #001736;
  --blue-4: #00183E;
  --text-light: #474544;
  --text-dark: #615954;
}

/* Body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  padding: 2vmin;
  min-height: 100vh; /* Use min-height instead of height for better responsiveness */
}

/* Container for the entire app */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Header styles */
.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-1);
  color: var(--text-dark);
  border: .1vmin solid var(--blue-2);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

/* Form container styles */
.form-container {
  padding: 3vmin;
  background-color: var(--blue-1);
  border: .1vmin solid var(--blue-2);
  border-radius: 1vmin;
}

/* Error message styles */
p.error-message {
  color: var(--orange);
  text-align: center;
}

/* Button styles */
button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--blue-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

/* Small and extra small button styles */
button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

/* Disabled button styles */
button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--blue-4);
}
