@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary-color: #69a2b6; /* Orange */
  --secondary-color: #999744; /* Dark Blue */
  --accent-color: #f6d94f; 
  --color-neutral: #c1a97b; /* #c1a97b (193,169,123) */
  --color-danger: #b40116; /* #b40116 (180,1,22) *//* Darker Blue */
  --background-color: #90abe6; /* White */
  --text-color: #000000; /* Black */
}


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding: 0;
  height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f09232;
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}
.section-heading-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f09232;
  color: white;
  font-weight: 900;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}
.section-heading-cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f09232;
  color: white;
  font-weight: 900;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}
.section-heading-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f09232;
  color: white;
  font-weight: 900;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}



label {
  font-size: 18px;
  color: #333; 
}

input {
  font-size: 16px; 
  color: #555; 
}

input, textarea, select {
  background-color: #fff; 
}

input, textarea, select {
  padding: 10px;
  margin-bottom: 10px; 
}

input:focus, textarea:focus, select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


